main {
    #content {
        background: #fff;
        .cartBox {
            width: 1090px;
            margin: auto;
            .myCart {
                font-size: 14px;
                color: #333;
                line-height: 32px;
                margin-top: 15px;
                display: block;
                .tt {
                    font-weight: 700;
                }
                .address_box {
                    position: relative;
                    top: -3px;
                    white-space: nowrap;
                    font-size: 12px;
                    margin-left: 10px;
                    label {
                        margin-right: 5px;
                    }
                    .address {
                        display: inline-block;
                        margin: 8px 0 0 6px;
                        #city {
                            border: 1px solid #ddd;
                            height: 20px;
                            width: 160px;
                        }
                        .triangle {
                            display: block;
                            border: 5px solid transparent;
                            border-top-color: #666;
                            position: absolute;
                            left: 190px;
                            top: 23px;
                        }
                    }
                }
                .tip {
                    position: relative;
                    float: right;
                    top: 5px;
                    height: 32px;
                    line-height: 32px;
                    font-size: 12px;
                    font-weight: 400;
                    img {
                        position: absolute;
                        top: 10px;
                        left: -16px;
                        width: 12px;
                        height: 12px;
                    }
                }
            }
            .no_cart {
                display: none;
                position: relative;
                font-size: 16px;
                height: 218px;
                background: url(' /src/images/cartIcon.de306f2.jpg') 336px 91px no-repeat;
                .wrap {
                    position: absolute;
                    left: 396px;
                    top: 90px;
                    white-space: normal;
                    word-wrap: break-word;
                    a {
                        color: #d12147;
                        text-decoration: none;
                        &:hover {
                            color: #f5335d;
                        }
                    }
                }
            }
        }
    }
}

._citys {
    width: 450px;
    display: inline-block;
    border: 2px solid #eee;
    padding: 5px;
    position: relative;
    background: #fff;
}

._citys span {
    color: #56b4f8;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #56b4f8;
    cursor: pointer;
}

._citys0 {
    width: 100%;
    height: 34px;
    display: inline-block;
    border-bottom: 2px solid #56b4f8;
    padding: 0;
    margin: 0;
}

._citys0 li {
    display: inline-block;
    line-height: 34px;
    font-size: 15px;
    color: #888;
    width: 80px;
    text-align: center;
    cursor: pointer;
}

.citySel {
    background-color: #56b4f8;
    color: #fff !important;
}

._citys1 {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    // background: #fff;
}

._citys1 a {
    width: 83px;
    height: 35px;
    display: inline-block;
    background-color: #f5f5f5;
    color: #666;
    margin-left: 6px;
    margin-top: 3px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    overflow: hidden;
}

._citys1 a:hover {
    color: #fff;
    background-color: #56b4f8;
}

.AreaS {
    background-color: #56b4f8 !important;
    color: #fff !important;
}