<!-- logo 和 搜索框 -->
<div id="docHead">
    <div class="topFixed">
        <a class="kaolalogo" href="/src/kaola.html" title="网易考拉"></a>
        <div class="searchBox">
            <div class="tosearchBox">
                <div id="toSearch">
                    <div class="wrap">
                        <input type="search" id="searchInput" placeholder="荣耀10">
                    </div>
                    <span class="searchBtnBox">
                                        <span class="searchBtn"></span>
                    </span>
                    <span class="icon_search"></span>
                </div>
                <div class="searchList">
                    <ul id="choiceList">
                        <!-- 搜索关键字列表 -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="HeadWarp">
        <a class="kaolalogo" href="/src/kaola.html" title="网易考拉"></a>

        <div class="searchBox">
            <!-- 搜索框 -->
            <div class="tosearchBox">
                <div id="toSearch">
                    <div class="wrap">
                        <input type="search" id="searchInput" placeholder="荣耀10">
                    </div>
                    <span class="searchBtnBox">
                        <span class="searchBtn"></span>
                    </span>
                    <span class="icon_search"></span>
                </div>
                <div class="searchList">
                    <ul id="choiceList">
                        <!-- 搜索关键字列表 -->
                    </ul>
                </div>
            </div>
            <!-- 搜索框下的推荐 -->
            <ul id="suggestList">
                <li>
                    <a href="">面膜</a>
                </li>
                <li>
                    <a href="">口红</a>
                </li>
                <li>
                    <a href="">减肥</a>
                </li>
                <li>
                    <a href="" style="color: #ff2337">全球工厂店</a>
                </li>
                <li>
                    <a href="">运动鞋</a>
                </li>
                <li>
                    <a href="">项链</a>
                </li>
                <li>
                    <a href="">女包</a>
                </li>
            </ul>
        </div>

        <a href="/src/html/page/cart/cart.html" class="cartBtn">
            <i class="icon_cart"></i>
            <span>购物车</span>
        </a>

    </div>
</div>
<!-- nav 导航栏 -->

<div id="topTabBox">
    <div class="topTab">
        <div class="nav_carts">
            <div class="twoLevel">
                <div class="lineIcon">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
                <span>所有分类</span>
                <em class="seg"></em>
            </div>
            <!-- 所有分类下的 二级菜单 -->
            <div class="carMenuBox">
                <ul class="catMenu">
                    <li class="active">
                        <span class="icon icon_1"></span>
                        <span class="text">美容美妆</span>
                        <em class="seg"></em>
                        <div class="catCard">
                            <div class="fl ctList">
                                <!--
                                    <div class="litd">
                                        <i class="underline"></i>
                                        <div class="item">
                                            <p class="title">
                                                <a href="">护肤</a>
                                            </p>
                                            <div class="listBox">
                                                <a href="">洁面</a>
                                            </div>
                                        </div>
                                    </div>
                                -->

                            </div>
                            <div class="fl brandBox">
                                <div class="brandList">
                                    <a href="">
                                        <img src="https://haitao.nos.netease.com/ieft86iu85_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn1.127.net/idk08yv746.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/icc0dxd356.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nos.netease.com/ii75na3t23_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn1.127.net/id2g028o49.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn1.127.net/ibosun6p96.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="fr imgBox">

                                <a href="">
                                    <img src="https://haitao.nos.netease.com/iqmf9t6y71_244_100.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="icon icon_2"></span>
                        <span class="text">母婴儿童</span>
                        <em class="seg"></em>
                        <div class="catCard">
                            <div class="fl ctList">
                                <!--
                                        <div class="litd">
                                            <i class="underline"></i>
                                            <div class="item">
                                                <p class="title">
                                                    <a href="">护肤</a>
                                                </p>
                                                <div class="listBox">
                                                    <a href="">洁面</a>
                                                </div>
                                            </div>
                                        </div>
                                    -->

                            </div>
                            <div class="fl brandBox">
                                <div class="brandList">
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7faa9k34_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn1.127.net/ic8p1ibz13.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7d68gy0_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii8tv4yk15_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nos.netease.com/ii741aro99_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/iedmyq5196.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="fr imgBox">
                                <a href="">
                                    <img src="https://haitao.nosdn2.127.net/iqmf9m9p59_244_100.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="icon icon_3"></span>
                        <span class="text">营养保健</span>
                        <em class="seg"></em>
                        <div class="catCard">
                            <div class="fl ctList">
                                <!--
                                        <div class="litd">
                                            <i class="underline"></i>
                                            <div class="item">
                                                <p class="title">
                                                    <a href="">护肤</a>
                                                </p>
                                                <div class="listBox">
                                                    <a href="">洁面</a>
                                                </div>
                                            </div>
                                        </div>
                                    -->

                            </div>
                            <div class="fl brandBox">
                                <div class="brandList">
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7faa9k34_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn1.127.net/ic8p1ibz13.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7d68gy0_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii8tv4yk15_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nos.netease.com/ii741aro99_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/iedmyq5196.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="fr imgBox">
                                <a href="">
                                    <img src="https://haitao.nosdn1.127.net/iqrh4xrm15_244_100.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="icon icon_4"></span>
                        <span class="text">数码家电</span>
                        <em class="seg"></em>
                        <div class="catCard">
                            <div class="fl ctList">
                                <!--
                                        <div class="litd">
                                            <i class="underline"></i>
                                            <div class="item">
                                                <p class="title">
                                                    <a href="">护肤</a>
                                                </p>
                                                <div class="listBox">
                                                    <a href="">洁面</a>
                                                </div>
                                            </div>
                                        </div>
                                    -->

                            </div>
                            <div class="fl brandBox">
                                <div class="brandList">
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7faa9k34_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn1.127.net/ic8p1ibz13.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7d68gy0_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii8tv4yk15_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nos.netease.com/ii741aro99_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/iedmyq5196.jpg" alt="">
                                    </a>
                                </div>

                            </div>
                            <div class="fr imgBox">
                                <a href="">
                                    <img src="https://haitao.nosdn2.127.net/iqmfbnlc90_244_100.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="icon icon_5"></span>
                        <span class="text">个人洗护</span>
                        <em class="seg"></em>
                        <div class="catCard">
                            <div class="fl ctList">
                                <!--
                                        <div class="litd">
                                            <i class="underline"></i>
                                            <div class="item">
                                                <p class="title">
                                                    <a href="">护肤</a>
                                                </p>
                                                <div class="listBox">
                                                    <a href="">洁面</a>
                                                </div>
                                            </div>
                                        </div>
                                    -->

                            </div>
                            <div class="fl brandBox">
                                <div class="brandList">
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7faa9k34_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn1.127.net/ic8p1ibz13.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7d68gy0_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii8tv4yk15_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nos.netease.com/ii741aro99_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/iedmyq5196.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="fr imgBox">
                                <a href="">
                                    <img src="https://haitao.nosdn2.127.net/iqmfbnlc90_244_100.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="icon icon_6"></span>
                        <span class="text">服饰鞋靴</span>
                        <em class="seg"></em>
                        <div class="catCard">
                            <div class="fl ctList">
                                <!--
                                        <div class="litd">
                                            <i class="underline"></i>
                                            <div class="item">
                                                <p class="title">
                                                    <a href="">护肤</a>
                                                </p>
                                                <div class="listBox">
                                                    <a href="">洁面</a>
                                                </div>
                                            </div>
                                        </div>
                                    -->

                            </div>
                            <div class="fl brandBox">
                                <div class="brandList">
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7faa9k34_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn1.127.net/ic8p1ibz13.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7d68gy0_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii8tv4yk15_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nos.netease.com/ii741aro99_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/iedmyq5196.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="fr imgBox">
                                <a href="">
                                    <img src="https://haitao.nosdn2.127.net/iqmfbnlc90_244_100.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="icon icon_7"></span>
                        <span class="text">运动户外</span>
                        <em class="seg"></em>
                        <div class="catCard">
                            <div class="fl ctList">
                                <!--
                                        <div class="litd">
                                            <i class="underline"></i>
                                            <div class="item">
                                                <p class="title">
                                                    <a href="">护肤</a>
                                                </p>
                                                <div class="listBox">
                                                    <a href="">洁面</a>
                                                </div>
                                            </div>
                                        </div>
                                    -->

                            </div>
                            <div class="fl brandBox">
                                <div class="brandList">
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7faa9k34_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn1.127.net/ic8p1ibz13.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7d68gy0_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii8tv4yk15_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nos.netease.com/ii741aro99_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/iedmyq5196.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="fr imgBox">
                                <a href="">
                                    <img src="https://haitao.nosdn2.127.net/iqmfbnlc90_244_100.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="icon icon_8"></span>
                        <span class="text">手表配饰</span>
                        <em class="seg"></em>
                        <div class="catCard">
                            <div class="fl ctList">
                                <!--
                                        <div class="litd">
                                            <i class="underline"></i>
                                            <div class="item">
                                                <p class="title">
                                                    <a href="">护肤</a>
                                                </p>
                                                <div class="listBox">
                                                    <a href="">洁面</a>
                                                </div>
                                            </div>
                                        </div>
                                    -->

                            </div>
                            <div class="fl brandBox">
                                <div class="brandList">
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7faa9k34_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn1.127.net/ic8p1ibz13.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7d68gy0_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii8tv4yk15_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nos.netease.com/ii741aro99_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/iedmyq5196.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="fr imgBox">
                                <a href="">
                                    <img src="https://haitao.nosdn2.127.net/iqmfbnlc90_244_100.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="icon icon_9"></span>
                        <span class="text">轻奢</span>
                        <em class="seg"></em>
                        <div class="catCard">
                            <div class="fl ctList">
                                <!--
                                        <div class="litd">
                                            <i class="underline"></i>
                                            <div class="item">
                                                <p class="title">
                                                    <a href="">护肤</a>
                                                </p>
                                                <div class="listBox">
                                                    <a href="">洁面</a>
                                                </div>
                                            </div>
                                        </div>
                                    -->

                            </div>
                            <div class="fl brandBox">
                                <div class="brandList">
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7faa9k34_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn1.127.net/ic8p1ibz13.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7d68gy0_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii8tv4yk15_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nos.netease.com/ii741aro99_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/iedmyq5196.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="fr imgBox">
                                <a href="">
                                    <img src="https://haitao.nosdn2.127.net/iqmfbnlc90_244_100.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="icon icon_10"></span>
                        <span class="text">家居生活</span>
                        <em class="seg"></em>
                        <div class="catCard">
                            <div class="fl ctList">
                                <!--
                                        <div class="litd">
                                            <i class="underline"></i>
                                            <div class="item">
                                                <p class="title">
                                                    <a href="">护肤</a>
                                                </p>
                                                <div class="listBox">
                                                    <a href="">洁面</a>
                                                </div>
                                            </div>
                                        </div>
                                    -->

                            </div>
                            <div class="fl brandBox">
                                <div class="brandList">
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7faa9k34_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn1.127.net/ic8p1ibz13.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7d68gy0_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii8tv4yk15_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nos.netease.com/ii741aro99_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/iedmyq5196.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="fr imgBox">
                                <a href="">
                                    <img src="https://haitao.nosdn2.127.net/iqmfbnlc90_244_100.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="icon icon_11"></span>
                        <span class="text">环球美食</span>
                        <em class="seg"></em>
                        <div class="catCard">
                            <div class="fl ctList">
                                <!--
                                        <div class="litd">
                                            <i class="underline"></i>
                                            <div class="item">
                                                <p class="title">
                                                    <a href="">护肤</a>
                                                </p>
                                                <div class="listBox">
                                                    <a href="">洁面</a>
                                                </div>
                                            </div>
                                        </div>
                                    -->

                            </div>
                            <div class="fl brandBox">
                                <div class="brandList">
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7faa9k34_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn1.127.net/ic8p1ibz13.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii7d68gy0_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/ii8tv4yk15_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nos.netease.com/ii741aro99_120_120.jpg" alt="">
                                    </a>
                                    <a href="">
                                        <img src="https://haitao.nosdn2.127.net/iedmyq5196.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="fr imgBox">
                                <a href="">
                                    <img src="https://haitao.nosdn2.127.net/iqmfbnlc90_244_100.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <ul class="nav">
            <li>
                <a href="">首页</a>
            </li>
            <li>
                <a href="">今日限时购</a>
            </li>
            <li>
                <a href="">每日上新</a>
            </li>
            <li>
                <a href="">国家馆</a>
            </li>
            <li>
                <a href="">海外旗舰店</a>
            </li>
            <li>
                <a href="">工厂店</a>
            </li>
            <li>
                <a href="">品质奶粉</a>
            </li>
            <li>
                <a href="">人气面膜</a>
            </li>
            <li>
                <a href="">礼品卡</a>
            </li>
        </ul>
    </div>
</div>