main {
  background: #fff;
}
main #navBox .nav_carts {
  cursor: pointer;
}
main #navBox .nav_carts .carMenuBox {
  display: none;
}
main #navBox .nav_carts:hover .carMenuBox {
  display: block;
}
main #content {
  z-index: 9;
  border-top: 1px solid #e8e8e8;
}
main #content #cont {
  width: 1090px;
  margin: auto;
  font-size: 14px;
  padding: 10px 0 0;
}
main #content #cont #barBox {
  height: 69px;
}
main #content #cont #barBox .crumbs {
  height: 22px;
  line-height: 22px;
  margin-top: 0;
  padding-top: 12px;
  padding-bottom: 17px;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
  color: #999;
  margin-bottom: 40px;
}
main #content #cont #barBox .crumbs span {
  vertical-align: middle;
}
main #content #cont #barBox .crumbs .txt {
  line-height: 24px;
}
main #content #cont #barBox .crumbs .crumbBtn {
  display: inline-block;
  position: relative;
  margin-right: 4px;
  border: 1px solid #ccc;
}
main #content #cont #barBox .crumbs .crumbBtn .btnBox {
  z-index: 1;
  height: 18px;
  line-height: 18px;
  background: #fff;
  position: relative;
  cursor: pointer;
}
main #content #cont #barBox .crumbs .crumbBtn .btnBox a {
  display: inline-block;
  padding: 0 5px;
  margin-right: 15px;
  color: #333;
  height: 20px;
  line-height: 20px;
  max-width: 90px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
main #content #cont #barBox .crumbs .crumbBtn .btnBox .icon {
  position: absolute;
  display: inline-block;
  right: 6px;
  top: 4px;
  width: 6px;
  height: 6px;
  border: 2px solid #ccc;
  border-width: 0 0 2px 2px;
  transform-origin: 30% 70%;
  transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in;
  transform: rotate(-45deg);
}
main #content #cont #barBox .crumbs .crumbBtn:hover a {
  color: #e31436;
}
main #content #cont #barBox .crumbs .crumbBtn:hover .icon {
  transform: rotate(135deg);
}
main #content #cont #barBox .crumbs .crumbs_title {
  display: inline-block;
  max-width: 300px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  word-break: keep-all;
}
main #content #cont .infoWrap {
  margin: 20px 0 0;
  position: relative;
  z-index: 1;
}
main #content #cont .infoWrap .imgBox {
  float: left;
  width: 402px;
  height: 488px;
  position: relative;
  z-index: 100;
}
main #content #cont .infoWrap .info {
  position: relative;
  float: left;
  width: 658px;
  margin-left: 30px;
  font-size: 12px;
}
main #content #cont .infoWrap .info dt {
  color: #333;
  word-wrap: break-word;
}
main #content #cont .infoWrap .info .ptags {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  margin-left: -6px;
}
main #content #cont .infoWrap .info .ptags .tag {
  display: inline-block;
  width: 54px;
  height: 22px;
  margin-left: 6px;
  padding-right: 6px;
  line-height: 22px;
  text-align: right;
  font-size: 13px;
  font-weight: bold;
  background: url(http://www.kl.com/src/images/icon5.png) no-repeat;
  background-position: -94px 0;
  color: #cf2c48;
}
main #content #cont .infoWrap .info .country span,
main #content #cont .infoWrap .info .country a {
  font-size: 13px;
  margin-left: 6px;
  color: #999;
  font-weight: 400;
  vertical-align: middle;
}
main #content #cont .infoWrap .info .country img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
main #content #cont .infoWrap .info .country .split {
  font-size: 12px;
}
main #content #cont .infoWrap .info .country .brand:hover {
  text-decoration: underline;
}
main #content #cont .infoWrap .info .title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}
main #content #cont .infoWrap .info .desc {
  margin-bottom: 11px;
  color: #333;
  line-height: 20px;
  font-size: 13px;
}
main #content #cont .infoWrap .info .line_title {
  padding-left: 15px;
  box-sizing: border-box;
  font-size: 12px;
  width: 75px;
  color: #666;
  display: inline-block;
  float: left;
  line-height: 26px;
  vertical-align: 4px;
}
main #content #cont .infoWrap .info .priceBox {
  background: #f9f9f9;
  z-index: 22;
  margin-bottom: 12px;
  border-bottom: 1px dotted #ddd;
  padding-bottom: 4px;
}
main #content #cont .infoWrap .info .priceBox .price {
  overflow: hidden;
  position: relative;
  padding-top: 5px;
  border-top: 1px dotted #ddd;
  z-index: 99;
}
main #content #cont .infoWrap .info .priceBox .price .pri_title {
  padding-left: 15px;
  box-sizing: border-box;
  font-size: 12px;
  float: left;
  line-height: 26px;
  margin: 10px 0;
  vertical-align: 4px;
}
main #content #cont .infoWrap .info .priceBox .price .price_cnt {
  margin-left: 71px;
}
main #content #cont .infoWrap .info .priceBox .price .price_cnt .cur_pritxt {
  font-size: 16px;
  position: relative;
  left: -7px;
}
main #content #cont .infoWrap .info .priceBox .price .price_cnt .pri_info {
  font-size: 26px;
  color: #e31436;
  font-weight: bold;
  vertical-align: baseline;
  margin: 8px 0;
  display: inline-block;
}
main #content #cont .infoWrap .info .priceBox .price .price_cnt .pri_info .cur {
  position: relative;
  left: -10px;
}
main #content #cont .infoWrap .info .priceBox .price .price_cnt .spe_pri {
  display: inline-block;
  margin-left: 5px;
  background-color: #f68587;
  height: 18px;
  line-height: 18px;
  padding: 0 5px;
  color: #fff;
  font-size: 12px;
  vertical-align: 5px;
  border-radius: 2px;
}
main #content #cont .infoWrap .info .priceBox .price .price_cnt .market_pri {
  vertical-align: 4px;
  font-size: 12px;
  color: #999;
  margin-left: 14px;
  margin-bottom: 8px;
}
main #content #cont .infoWrap .info .postage {
  margin-top: 7px;
  position: relative;
}
main #content #cont .infoWrap .info .postage .msg {
  margin-left: 85px;
  position: relative;
  top: 10px;
}
main #content #cont .infoWrap .info .postage .msg .feeinfo {
  display: inline;
  line-height: 24px;
  height: 24px;
  vertical-align: middle;
  position: absolute;
  left: 205px;
  top: -2px;
}
main #content #cont .infoWrap .info .postage .msg .feeinfo .freeShop {
  z-index: 3;
  padding: 1px 20px;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  cursor: default;
  box-sizing: border-box;
  width: 105px;
  position: absolute;
}
main #content #cont .infoWrap .info .postage .msg .feeinfo .freeShop .arrow {
  border: 5px solid transparent;
  border-top-color: #333;
  position: absolute;
  top: 13px;
  right: 8px;
}
main #content #cont .infoWrap .info .postage .msg .feeinfo .desc {
  display: none;
  position: absolute;
  left: 0;
  top: 27px;
  width: 335px;
  padding: 10px 15px;
  line-height: 22px;
  border: 1px solid #d5d5d5;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}
main #content #cont .infoWrap .info .postage .msg .feeinfo:hover .desc {
  display: block;
}
main #content #cont .infoWrap .info .postage .msg .feeinfo:hover .freeShop {
  border: 1px solid #ddd;
  border-bottom: 0;
  background: #fff;
}
main #content #cont .infoWrap .info .postage .msg .from {
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}
main #content #cont .infoWrap .info .postage .msg .address {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
main #content #cont .infoWrap .info .postage .msg .address #city {
  border: 1px solid #ddd;
  height: 20px;
  width: 160px;
  position: absolute;
  top: -1px;
}
main #content #cont .infoWrap .info .postage .msg .address label {
  display: block;
  border: 5px solid transparent;
  border-top-color: #666;
  position: absolute;
  left: 170px;
  top: 8px;
}
main #content #cont .infoWrap .info .service {
  margin-top: 15px;
}
main #content #cont .infoWrap .info .service .send {
  position: relative;
  top: 5px;
}
main #content #cont .infoWrap .info .service .sendBox {
  padding-left: 77px;
  padding-top: 12px;
}
main #content #cont .infoWrap .info .service .sendBox .postage_list {
  margin: 10px 0 0 -27px;
}
main #content #cont .infoWrap .info .service .sendBox .postage_list .item {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100px;
}
main #content #cont .infoWrap .info .service .sendBox .postage_list .item img {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  margin: 0 auto;
}
main #content #cont .infoWrap .info .service .sendBox .postage_list .item p {
  display: inline-block;
  white-space: nowrap;
  padding-top: 7px;
}
main #content #cont .infoWrap .info .service .sendBox .postage_list .item p span {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
main #content #cont .infoWrap .info .service .sendBox .postage_list .item .line {
  position: absolute;
  display: block;
  background: #dcdcdc;
  right: -30px;
  top: 13px;
  width: 60px;
  height: 1px;
}
main #content #cont .infoWrap .info .service .sendBox .postage_list .item .active {
  background: #7f7f7f;
}
main #content #cont .infoWrap .info .service .tomorrow_arrival {
  margin-top: 8px;
}
main #content #cont .infoWrap .info .service .tomorrow_arrival .bold {
  font-weight: bold;
}
main #content #cont .infoWrap .info #colorBox {
  margin-top: 9px;
}
main #content #cont .infoWrap .info #colorBox .color_wrap {
  position: relative;
  width: 581px;
  left: -15px;
  border: 2px solid #fff;
  padding-bottom: 13px;
  margin-bottom: 6px;
}
main #content #cont .infoWrap .info #colorBox .color_wrap .color_box {
  margin: 1px 0 2px 0;
}
main #content #cont .infoWrap .info #colorBox .color_wrap .color_box .line_title {
  height: 54px;
  line-height: 54px;
}
main #content #cont .infoWrap .info #colorBox .color_wrap .color_box .valBox {
  vertical-align: middle;
  float: left;
  width: 480px;
}
main #content #cont .infoWrap .info #colorBox .color_wrap .color_box .valBox .img_box {
  height: 58px;
  float: left;
  display: inline;
  background-color: #fff;
  margin-right: 7px;
  position: relative;
  white-space: nowrap;
}
main #content #cont .infoWrap .info #colorBox .color_wrap .color_box .valBox .img_box a {
  height: 50px;
  width: 50px;
  border: 2px solid #ccc;
  display: block;
  margin: 1px 1px 1px 1px;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
}
main #content #cont .infoWrap .info #colorBox .color_wrap .color_box .valBox .img_box a img {
  width: 50px;
  height: 50px;
  vertical-align: top;
  cursor: pointer;
}
main #content #cont .infoWrap .info #colorBox .color_wrap .color_box .valBox .img_box a:hover {
  border-color: #d41c44;
  color: #d41c44;
  border-width: 2px;
}
main #content #cont .infoWrap .info #colorBox .color_wrap .color_box .valBox .img_box i {
  display: none;
}
main #content #cont .infoWrap .info #colorBox .color_wrap .color_box .valBox .img_box i .checked {
  position: absolute;
  font-size: 10px;
  color: #fff;
  line-height: 0px;
  height: 5px;
  width: 7px;
  right: -6px;
  bottom: -6px;
  background: url(http://www.kl.com/src/images/goods/images/icon6.png) no-repeat;
  background-position: left -20px;
  overflow: hidden;
}
main #content #cont .infoWrap .info #colorBox .tip {
  visibility: hidden;
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-in-out 0.3s;
}
main #content #cont .infoWrap .info #colorBox .tip .tip_box {
  color: #d31b44;
  vertical-align: middle;
}
main #content #cont .infoWrap .info #colorBox .tip .tip_box i {
  color: #d12147;
  font-size: 17px;
  margin-right: 5px;
  display: inline-block;
}
main #content #cont .infoWrap .buy_numBox {
  margin-top: 6px;
}
main #content #cont .infoWrap .buy_numBox .buy_box {
  position: relative;
}
main #content #cont .infoWrap .buy_numBox .buy_box .ctrNum {
  display: inline-block;
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: middle;
}
main #content #cont .infoWrap .buy_numBox .buy_box .ctrNum .icon_minus,
main #content #cont .infoWrap .buy_numBox .buy_box .ctrNum .icon_plus {
  color: #777 !important;
  background-color: #f3f3f3;
  cursor: default;
  border-right: 1px solid #ccc;
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-decoration: none;
  vertical-align: top;
  user-select: none;
  font-size: 20px;
}
main #content #cont .infoWrap .buy_numBox .buy_box .ctrNum .ctrnum {
  width: 38px;
  padding: 4px 5px;
  margin: 0;
  line-height: 1;
  height: 14px;
  font-size: 14px;
  vertical-align: top;
  text-align: center;
  color: #333;
  border: none;
  outline: none;
  box-sizing: content-box;
}
main #content #cont .infoWrap .buy_numBox .buy_box .dome_tip {
  font-weight: 300;
  margin-left: 5px;
  vertical-align: middle;
  color: #e31436;
}
main #content #cont .infoWrap .guarantee {
  position: relative;
  color: #333;
  font-size: 0;
  padding: 20px 0 15px;
  z-index: 9;
}
main #content #cont .infoWrap .guarantee .line_title {
  float: left;
  height: 24px;
  line-height: 24px;
}
main #content #cont .infoWrap .guarantee .guarantee_cnt {
  float: left;
  font-size: 12px;
}
main #content #cont .infoWrap .guarantee .guarantee_cnt .guali {
  float: left;
  position: relative;
  height: 24px;
  line-height: 24px;
  margin-right: 10px;
  color: #333;
}
main #content #cont .infoWrap .guarantee .guarantee_cnt .guali .ctt {
  display: none;
  position: absolute;
  top: 23px;
  left: 0;
  background: #fff;
  width: 300px;
  padding: 11px 10px;
  overflow: hidden;
  border: 1px solid #ccc;
  z-index: 1;
}
main #content #cont .infoWrap .guarantee .guarantee_cnt .guali .tit {
  position: relative;
  padding: 0 27px 0 10px;
  height: 22px;
  line-height: 22px;
  max-width: 230px;
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid #ccc;
  cursor: pointer;
  z-index: 2;
  font-size: 12px;
}
main #content #cont .infoWrap .guarantee .guarantee_cnt .guali .tit .up,
main #content #cont .infoWrap .guarantee .guarantee_cnt .guali .tit .down {
  position: absolute;
  width: 12px;
  height: 22px;
  right: 8px;
  top: 0;
  font-size: 10px;
  line-height: 20px;
  color: #999;
}
main #content #cont .infoWrap .guarantee .guarantee_cnt .guali .tit .up {
  display: none;
}
main #content #cont .infoWrap .guarantee .guarantee_cnt .guali .tit .down {
  display: block;
}
main #content #cont .infoWrap .guarantee .guarantee_cnt .guali:hover .ctt {
  display: block;
}
main #content #cont .infoWrap .guarantee .guarantee_cnt .guali:hover .up {
  display: block;
}
main #content #cont .infoWrap .guarantee .guarantee_cnt .guali:hover .down {
  display: none;
}

._citys {
  width: 450px;
  display: inline-block;
  border: 2px solid #eee;
  padding: 5px;
  position: relative;
  background: #fff;
}

._citys span {
  color: #56b4f8;
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid #56b4f8;
  cursor: pointer;
}

._citys0 {
  width: 100%;
  height: 34px;
  display: inline-block;
  border-bottom: 2px solid #56b4f8;
  padding: 0;
  margin: 0;
}

._citys0 li {
  display: inline-block;
  line-height: 34px;
  font-size: 15px;
  color: #888;
  width: 80px;
  text-align: center;
  cursor: pointer;
}

.citySel {
  background-color: #56b4f8;
  color: #fff !important;
}

._citys1 {
  width: 100%;
  display: inline-block;
  padding: 10px 0;
}

._citys1 a {
  width: 83px;
  height: 35px;
  display: inline-block;
  background-color: #f5f5f5;
  color: #666;
  margin-left: 6px;
  margin-top: 3px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  overflow: hidden;
}

._citys1 a:hover {
  color: #fff;
  background-color: #56b4f8;
}

.AreaS {
  background-color: #56b4f8 !important;
  color: #fff !important;
}

/*# sourceMappingURL=details.css.map */
