footer {
  padding-bottom: 0;
}
footer .footBgWrap {
  background: #fff;
}
footer .footBgWrap .box {
  width: 1090px;
  margin: auto;
  background-color: transparent;
  text-align: left;
  font-size: inherit;
  color: inherit;
  cursor: default;
  display: block;
}
footer .footBgWrap .box .btmlist {
  padding: 49px 0;
  border-bottom: 1px solid #eaeaea;
}
footer .footBgWrap .box .btmlist ul {
  height: 48px;
}
footer .footBgWrap .box .btmlist ul li {
  float: left;
  width: 230px;
  margin-left: 42px;
}
footer .footBgWrap .box .btmlist ul li .icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid #d6d6d6;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  margin-right: 12px;
  float: left;
  color: #000;
}
footer .footBgWrap .box .btmlist ul li strong {
  font-size: 18px;
  font-weight: 700;
  display: block;
  line-height: 22px;
  color: #000;
}
footer .footBgWrap .box .btmlist ul li span {
  font-size: 14px;
  line-height: 22px;
  color: #333;
}
footer .footBgWrap .box .guideList {
  padding: 45px 0 90px;
}
footer .footBgWrap .box .guideList ul .foot_logo {
  width: 218px;
  padding-right: 40px;
  padding-left: 0;
}
footer .footBgWrap .box .guideList ul .foot_logo .ft-logo {
  display: block;
  width: 220px;
  height: 43px;
  line-height: 45px;
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
  background: url(../images/foot_logo.png) no-repeat;
}
footer .footBgWrap .box .guideList ul .foot_logo .focuson {
  height: 32px;
}
footer .footBgWrap .box .guideList ul .foot_logo .focuson .label {
  display: inline-block;
  vertical-align: middle;
}
footer .footBgWrap .box .guideList ul .foot_logo .focuson .itemIcon {
  position: relative;
  margin-left: 10px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
footer .footBgWrap .box .guideList ul .foot_logo .focuson .itemIcon:hover .notice {
  display: block;
}
footer .footBgWrap .box .guideList ul .foot_logo .focuson .itemIcon i {
  width: 32px;
  height: 32px;
  background-position: 50%;
  background-repeat: no-repeat;
  display: inline-block;
}
footer .footBgWrap .box .guideList ul .foot_logo .focuson .itemIcon .weibo-icon {
  background: url(../images/foot_icon1.png) no-repeat;
}
footer .footBgWrap .box .guideList ul .foot_logo .focuson .itemIcon .weixin-icon {
  background: url(../images/foot_icon2.png) no-repeat;
}
footer .footBgWrap .box .guideList ul .foot_logo .focuson .itemIcon .yixin-icon {
  background: url(../images/foot_icon3.png) no-repeat;
}
footer .footBgWrap .box .guideList ul .foot_logo .focuson .itemIcon .notice {
  display: none;
  position: absolute;
  left: -44px;
  top: 42px;
  z-index: 10;
  background: #fff;
  text-align: center;
  color: #333;
  border: 1px solid #ededee;
  padding: 10px;
}
footer .footBgWrap .box .guideList ul .foot_logo .focuson .itemIcon .notice img {
  width: 100px;
  height: 100px;
}
footer .footBgWrap .box .guideList ul .foot_logo .focuson .itemIcon .notice .arrow {
  position: absolute;
  left: 52px;
  top: 0;
  right: auto;
}
footer .footBgWrap .box .guideList ul .foot_logo .focuson .itemIcon .notice .arrow .arr {
  position: absolute;
  border-width: 8px;
  border-style: dashed dashed solid;
  right: -18px;
  top: -16px;
  border-color: transparent transparent #ededee;
}
footer .footBgWrap .box .guideList ul .foot_logo .focuson .itemIcon .notice .arrow .arr1 {
  position: absolute;
  border-width: 8px;
  border-style: dashed dashed solid;
  top: -15px;
  right: -18px;
  border-color: transparent transparent #fff;
}
footer .footBgWrap .box .guideList ul li {
  float: left;
  width: 110px;
  padding: 0 0 0 21px;
  height: 128px;
}
footer .footBgWrap .box .guideList ul li dt {
  margin: -4px 0 10px;
  font-size: 18px;
  font-weight: 400;
  color: #222;
}
footer .footBgWrap .box .guideList ul li dd {
  line-height: 29px;
}
footer .footBgWrap .box .guideList ul li dd a {
  color: #333;
  cursor: pointer;
  font-size: 12px;
}
footer .footBgWrap .box .guideList ul li dd a:hover {
  text-decoration: underline;
}
footer .footBgWrap .box .guideList ul .last {
  margin-left: 10px;
  width: 108px;
  height: 128px;
  text-align: center;
}
footer .footBgWrap .box .guideList ul .last img {
  margin: 0 0 6px;
}
footer .about {
  position: relative;
  padding: 20px 0;
  background: #333;
  line-height: 26px;
  text-align: center;
  color: #c2c2c2;
}
footer .about a {
  color: #c2c2c2;
  font-size: 12px;
}
footer .about a:hover {
  text-decoration: underline;
}
footer .about .license {
  font-size: 12px;
  margin-left: 20px;
}
footer .about .license-1 {
  margin-left: 0px;
}
footer .about .f-tac {
  text-align: center;
}
footer .about .f-tac #KXYZ img {
  margin-top: 5px;
  border-radius: 5px;
  width: 80px;
  height: 30px;
}
footer .about .f-tac .shield img {
  height: 30px;
  margin: 5px 0 0 10px;
}

/*# sourceMappingURL=footer.css.map */
