main #navBox .nav_carts {
  cursor: pointer;
}
main #navBox .nav_carts .carMenuBox {
  display: none;
}
main #navBox .nav_carts:hover .carMenuBox {
  display: block;
}
main #content .cont {
  width: 1100px;
  margin: auto;
  position: relative;
}
main #content .cont .listBox {
  margin-bottom: 6px;
}
main #content .cont .listBox .options {
  width: 1090px;
  margin: 0 auto;
}
main #content .cont .listBox .options a {
  color: #333;
}
main #content .cont .listBox .options .result_info {
  margin-bottom: 10px;
  line-height: 22px;
}
main #content .cont .listBox .options .result_info .all {
  float: left;
  line-height: 22px;
  font-size: 12px;
}
main #content .cont .listBox .options .result_info .gap {
  margin: 0 8px;
  display: inline-block;
  width: 10px;
  color: #999;
  font-weight: 700;
  line-height: 22px;
  float: left;
}
main #content .cont .listBox .options .result_info .phone {
  line-height: 22px;
  font-size: 12px;
  float: left;
}
main #content .cont .listBox .options .result_info .detail_search {
  position: relative;
  font-size: 12px;
  float: left;
  margin-right: 10px;
}
main #content .cont .listBox .options .result_info .detail_search input {
  width: 105px;
  padding: 5px 24px 5px 5px;
  height: 12px;
  border: 1px solid #ccc;
  margin-top: -1px;
}
main #content .cont .listBox .options .result_info .detail_search .searchBtn {
  position: absolute;
  right: 8px;
  top: 4px;
  cursor: pointer;
  width: 14px;
  background: url(http://www.kl.com/src/images/icon1.png) no-repeat;
  height: 14px;
  background-position: -468px -666px;
  display: block;
}
main #content .cont .listBox .options .gnum {
  height: 22px;
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
  color: #999;
}
main #content .cont .listBox .options .gnum i {
  color: #e31436;
}
main #content .cont .opertaion {
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #eaeaea;
}
main #content .cont .opertaion .classify {
  border-bottom: 1px dotted #eaeaea;
  position: relative;
  background: #f8f8f8;
}
main #content .cont .opertaion .brandWrap .name,
main #content .cont .opertaion .country .name,
main #content .cont .opertaion .sort .name,
main #content .cont .opertaion .property .name {
  font-size: 12px;
  line-height: 12px;
  padding-top: 12px;
  width: 85px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  float: left;
  height: 100%;
  padding-left: 15px;
  color: #666;
  background: #f8f8f8;
}
main #content .cont .opertaion .brandWrap .hdbrands,
main #content .cont .opertaion .country .hdbrands,
main #content .cont .opertaion .sort .hdbrands,
main #content .cont .opertaion .property .hdbrands {
  margin-left: 110px;
  padding: 8px 10px 4px 0;
  background-color: #fff;
}
main #content .cont .opertaion .brandWrap .hdbrands .hdbrands2,
main #content .cont .opertaion .country .hdbrands .hdbrands2,
main #content .cont .opertaion .sort .hdbrands .hdbrands2,
main #content .cont .opertaion .property .hdbrands .hdbrands2 {
  height: 45px;
  position: relative;
  overflow: hidden;
}
main #content .cont .opertaion .brandWrap .hdbrands .hdbrands2 .brand,
main #content .cont .opertaion .country .hdbrands .hdbrands2 .brand,
main #content .cont .opertaion .sort .hdbrands .hdbrands2 .brand,
main #content .cont .opertaion .property .hdbrands .hdbrands2 .brand {
  margin-left: 15px;
  line-height: 14px;
  overflow: auto;
  font-size: 12px;
  float: left;
}
main #content .cont .opertaion .brandWrap .hdbrands .hdbrands2 .brand a,
main #content .cont .opertaion .country .hdbrands .hdbrands2 .brand a,
main #content .cont .opertaion .sort .hdbrands .hdbrands2 .brand a,
main #content .cont .opertaion .property .hdbrands .hdbrands2 .brand a {
  position: relative;
  box-sizing: border-box;
  margin-right: 18px;
  margin-bottom: 4px;
  padding: 3px 5px;
  width: 120px;
  border: 1px solid transparent;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  display: inline-block;
  cursor: pointer;
}
main #content .cont .opertaion .brandWrap .hdbrands .hdbrands2 .brand a:hover,
main #content .cont .opertaion .country .hdbrands .hdbrands2 .brand a:hover,
main #content .cont .opertaion .sort .hdbrands .hdbrands2 .brand a:hover,
main #content .cont .opertaion .property .hdbrands .hdbrands2 .brand a:hover {
  color: #e31436;
}
main #content .cont .opertaion .brandWrap .hdbrands .hdbrands2 .morewrap,
main #content .cont .opertaion .country .hdbrands .hdbrands2 .morewrap,
main #content .cont .opertaion .sort .hdbrands .hdbrands2 .morewrap,
main #content .cont .opertaion .property .hdbrands .hdbrands2 .morewrap {
  position: absolute;
  top: 4px;
  right: -11px;
}
main #content .cont .opertaion .brandWrap .hdbrands .hdbrands2 .morewrap .more,
main #content .cont .opertaion .country .hdbrands .hdbrands2 .morewrap .more,
main #content .cont .opertaion .sort .hdbrands .hdbrands2 .morewrap .more,
main #content .cont .opertaion .property .hdbrands .hdbrands2 .morewrap .more {
  margin-left: 0;
  font-size: 12px;
  position: relative;
  float: right;
  width: 42px;
  margin: auto 15px;
  line-height: 13px;
  cursor: pointer;
}
main #content .cont .opertaion .brandWrap .hdbrands .hdbrands2 .morewrap .more span,
main #content .cont .opertaion .country .hdbrands .hdbrands2 .morewrap .more span,
main #content .cont .opertaion .sort .hdbrands .hdbrands2 .morewrap .more span,
main #content .cont .opertaion .property .hdbrands .hdbrands2 .morewrap .more span {
  position: absolute;
  top: 3px;
  left: 30px;
  width: 9px;
  height: 6px;
  background-position: 0 0;
  background: url(http://www.kl.com/src/images/icon4.png) no-repeat;
}
main #content .cont .opertaion .brandWrap .hdbrands .hdbrands2 .morewrap .more:hover,
main #content .cont .opertaion .country .hdbrands .hdbrands2 .morewrap .more:hover,
main #content .cont .opertaion .sort .hdbrands .hdbrands2 .morewrap .more:hover,
main #content .cont .opertaion .property .hdbrands .hdbrands2 .morewrap .more:hover {
  color: #e31436;
}
main #content .cont .opertaion .brandWrap .hdbrands .hdbrands2 .morewrap .more:hover span,
main #content .cont .opertaion .country .hdbrands .hdbrands2 .morewrap .more:hover span,
main #content .cont .opertaion .sort .hdbrands .hdbrands2 .morewrap .more:hover span,
main #content .cont .opertaion .property .hdbrands .hdbrands2 .morewrap .more:hover span {
  background-position: -50px 0;
}
main #content .cont .opertaion .brandWrap .hdbrands .hdbrands2 .morewrap .item-multiple,
main #content .cont .opertaion .country .hdbrands .hdbrands2 .morewrap .item-multiple,
main #content .cont .opertaion .sort .hdbrands .hdbrands2 .morewrap .item-multiple,
main #content .cont .opertaion .property .hdbrands .hdbrands2 .morewrap .item-multiple {
  float: right;
  margin: -4px 15px 0 0;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
  color: #333;
  font-size: 12px;
  border: 1px solid #ddd;
  cursor: pointer;
}
main #content .cont .opertaion .brandWrap .hdbrands .hdbrands2 .morewrap .item-multiple:hover,
main #content .cont .opertaion .country .hdbrands .hdbrands2 .morewrap .item-multiple:hover,
main #content .cont .opertaion .sort .hdbrands .hdbrands2 .morewrap .item-multiple:hover,
main #content .cont .opertaion .property .hdbrands .hdbrands2 .morewrap .item-multiple:hover {
  color: #e31436;
  border: 1px solid #e31436;
}
main #content .cont .opertaion .brandWrap .hdbrands .hdbrands2 .morewrap .item-multiple .iconfont,
main #content .cont .opertaion .country .hdbrands .hdbrands2 .morewrap .item-multiple .iconfont,
main #content .cont .opertaion .sort .hdbrands .hdbrands2 .morewrap .item-multiple .iconfont,
main #content .cont .opertaion .property .hdbrands .hdbrands2 .morewrap .item-multiple .iconfont {
  font-size: 12px;
  color: #333;
  height: 20px;
  line-height: 20px;
  position: relative;
}
main #content .cont .country #countyrBrands,
main #content .cont .sort #countyrBrands,
main #content .cont .property #countyrBrands {
  height: 24px;
  position: relative;
  overflow: hidden;
}
main #content .cont .country #countyrBrands .attr_items,
main #content .cont .sort #countyrBrands .attr_items,
main #content .cont .property #countyrBrands .attr_items {
  position: relative;
  margin-left: 0;
}
main #content .cont .country #countyrBrands .attr_items a,
main #content .cont .sort #countyrBrands .attr_items a,
main #content .cont .property #countyrBrands .attr_items a {
  box-sizing: border-box;
  margin-right: 18px;
  text-decoration: none;
  float: left;
  position: relative;
  border: 1px solid #ddd;
  padding: 3px 5px;
  line-height: 12px;
  font-size: 12px;
  margin: 0 0 4px 20px;
  cursor: pointer;
  color: #333;
}
main #content .cont .country #countyrBrands .attr_items a .iconfont,
main #content .cont .sort #countyrBrands .attr_items a .iconfont,
main #content .cont .property #countyrBrands .attr_items a .iconfont {
  font-size: 12px;
  width: 12px;
  height: 12px;
  line-height: 12px;
  margin-left: 2px;
  color: #cdcdcd;
}
main #content .cont .country #countyrBrands .attr_items a .down,
main #content .cont .sort #countyrBrands .attr_items a .down,
main #content .cont .property #countyrBrands .attr_items a .down {
  display: inline-block;
}
main #content .cont .country #countyrBrands .attr_items a .up,
main #content .cont .sort #countyrBrands .attr_items a .up,
main #content .cont .property #countyrBrands .attr_items a .up {
  display: none;
}
main #content .cont .country .drop_downList,
main #content .cont .sort .drop_downList,
main #content .cont .property .drop_downList {
  position: absolute;
  left: 0;
  top: 29px;
  width: 100%;
  border: 1px solid #aaa;
  background: #fff;
  z-index: 100;
  font-size: 12px;
  line-height: 12px;
  display: none;
  padding-bottom: 11px;
}
main #content .cont .country .drop_downList .list,
main #content .cont .sort .drop_downList .list,
main #content .cont .property .drop_downList .list {
  position: relative;
  padding-right: 65px;
  margin-bottom: 5px;
  margin-left: -8px;
}
main #content .cont .country .drop_downList .list a,
main #content .cont .sort .drop_downList .list a,
main #content .cont .property .drop_downList .list a {
  float: left;
  position: relative;
  margin: 11px 0 0 17px;
  cursor: pointer;
  padding: 3px 22px 3px 5px;
  border: 1px solid transparent;
  color: #333;
}
main #content .cont .country .drop_downList .list a:hover,
main #content .cont .sort .drop_downList .list a:hover,
main #content .cont .property .drop_downList .list a:hover {
  color: #e31436;
}
main #content .cont .country .drop_downList .list .item-multiple,
main #content .cont .sort .drop_downList .list .item-multiple,
main #content .cont .property .drop_downList .list .item-multiple {
  position: absolute;
  right: 9px;
  top: 10px;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
  color: #333;
  font-size: 12px;
  border: 1px solid #ddd;
  cursor: pointer;
}
main #content .cont .country .drop_downList .list .item-multiple:hover,
main #content .cont .sort .drop_downList .list .item-multiple:hover,
main #content .cont .property .drop_downList .list .item-multiple:hover {
  color: #e31436;
  border: 1px solid #e31436;
}
main #content .cont .country .drop_downList .btn_group,
main #content .cont .sort .drop_downList .btn_group,
main #content .cont .property .drop_downList .btn_group {
  display: none;
  box-sizing: border-box;
  margin-top: 8px;
  text-align: center;
}
main #content .cont .country .drop_downList .btn_group span,
main #content .cont .sort .drop_downList .btn_group span,
main #content .cont .property .drop_downList .btn_group span {
  display: inline-block;
  width: 48px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
main #content .cont .country .drop_downList .btn_group .sure,
main #content .cont .sort .drop_downList .btn_group .sure,
main #content .cont .property .drop_downList .btn_group .sure {
  background: #ccc;
  color: #fff;
}
main #content .cont .country .drop_downList .btn_group .cancel,
main #content .cont .sort .drop_downList .btn_group .cancel,
main #content .cont .property .drop_downList .btn_group .cancel {
  width: 46px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #aaa;
  color: #333;
  margin-left: 10px;
}
main #content .cont .country .drop_downList .btn_group .cancel:hover,
main #content .cont .sort .drop_downList .btn_group .cancel:hover,
main #content .cont .property .drop_downList .btn_group .cancel:hover {
  border: 1px solid #000;
}
main #content .cont .filter {
  background: #fff;
  height: 36px;
}
main #content .cont .order li {
  float: left;
  width: 65px;
  height: 36px;
  line-height: 36px;
  margin: -1px;
  margin-left: 0;
  font-size: 13px;
  color: #333;
  border: 1px solid #eaeaea;
  cursor: pointer;
  text-align: center;
}
main #content .cont .order .active {
  position: relative;
  border: 1px solid #e31436;
  color: #e31436;
}
main #content .cont .searchPrice {
  width: 116px;
  height: 36px;
  font-size: 14px;
  position: relative;
  float: left;
  line-height: 36px;
}
main #content .cont .searchPrice #clearBtn {
  display: none;
  position: absolute;
  right: auto;
  left: 15px;
  top: 42px;
  line-height: 16px;
  font-size: 12px;
  color: #51b8f1;
  cursor: pointer;
}
main #content .cont .searchPrice .sure {
  display: none;
  position: absolute;
  top: 40px;
  right: 10px;
  line-height: 16px;
  margin-left: 5px;
  padding: 2px 8px;
  border-radius: 3px;
  color: #fff;
  background: #e31436;
  border: 0;
  cursor: pointer;
}
main #content .cont .searchPrice .priceInput {
  position: absolute;
  left: 3px;
  top: -1px;
  padding: 0 8px;
}
main #content .cont .searchPrice .priceInput .inp {
  width: 34px;
  line-height: 18px;
  padding-left: 4px;
  border: 1px solid #ddd;
}
main #content .cont .searchPrice .priceInput .inp:hover {
  border: 1px solid #739ecc;
  box-shadow: 0 0 6px 1px #739ecc;
}
main #content .cont .searchPrice:hover {
  height: 72px;
  background: #fff;
  box-shadow: 1px 1px 1px 1px #ddd;
}
main #content .cont .searchPrice:hover #clearBtn,
main #content .cont .searchPrice:hover .sure {
  display: block;
}
main #content .cont .addrBox {
  float: left;
  height: 36px;
  margin-left: 10px;
}
main #content .cont .addrBox .addr_tit {
  font-size: 12px;
  line-height: 36px;
  float: left;
}
main #content .cont .addrBox .addr_select {
  float: left;
  display: inline-block;
  margin: 8px 0 0 6px;
  position: relative;
}
main #content .cont .addrBox .addr_select #city {
  border: 1px solid #ddd;
  height: 20px;
  width: 160px;
  position: absolute;
  top: -1px;
}
main #content .cont .addrBox .addr_select .triangle {
  display: block;
  border: 5px solid transparent;
  border-top-color: #666;
  position: absolute;
  left: 137px;
  top: 7px;
}
main #content .cont .checkedBox {
  position: relative;
  float: left;
  line-height: 36px;
  margin-left: 8px;
  cursor: pointer;
  font-size: 13px;
  left: 170px;
}
main #content .cont .checkedBox a {
  color: #333;
}
main #content .cont .checkedBox a .box {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}
main #content .cont .checkedBox a span {
  vertical-align: middle;
}

._citys {
  width: 450px;
  display: inline-block;
  border: 2px solid #eee;
  padding: 5px;
  position: relative;
  background: #fff;
}

._citys span {
  color: #56b4f8;
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid #56b4f8;
  cursor: pointer;
}

._citys0 {
  width: 100%;
  height: 34px;
  display: inline-block;
  border-bottom: 2px solid #56b4f8;
  padding: 0;
  margin: 0;
}

._citys0 li {
  display: inline-block;
  line-height: 34px;
  font-size: 15px;
  color: #888;
  width: 80px;
  text-align: center;
  cursor: pointer;
}

.citySel {
  background-color: #56b4f8;
  color: #fff !important;
}

._citys1 {
  width: 100%;
  display: inline-block;
  padding: 10px 0;
}

._citys1 a {
  width: 83px;
  height: 35px;
  display: inline-block;
  background-color: #f5f5f5;
  color: #666;
  margin-left: 6px;
  margin-top: 3px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  overflow: hidden;
}

._citys1 a:hover {
  color: #fff;
  background-color: #56b4f8;
}

.AreaS {
  background-color: #56b4f8 !important;
  color: #fff !important;
}

/*# sourceMappingURL=goodList.css.map */
