main {
    #navBox {
        .nav_carts {
            cursor: pointer;
            .carMenuBox {
                display: none;
            }
            &:hover {
                .carMenuBox {
                    display: block;
                }
            }
        }
    }
    #content {
        .cont {
            width: 1100px;
            margin: auto;
            position: relative;
            .listBox {
                margin-bottom: 6px;
                .options {
                    width: 1090px;
                    margin: 0 auto;
                    a {
                        color: #333;
                    }
                    .result_info {
                        margin-bottom: 10px;
                        line-height: 22px;
                        .all {
                            float: left;
                            line-height: 22px;
                            font-size: 12px;
                        }
                        .gap {
                            margin: 0 8px;
                            display: inline-block;
                            width: 10px;
                            color: #999;
                            font-weight: 700;
                            line-height: 22px;
                            float: left;
                        }
                        .phone {
                            line-height: 22px;
                            font-size: 12px;
                            float: left;
                        }
                        .detail_search {
                            position: relative;
                            font-size: 12px;
                            float: left;
                            margin-right: 10px;
                            input {
                                width: 105px;
                                padding: 5px 24px 5px 5px;
                                height: 12px;
                                border: 1px solid #ccc;
                                margin-top: -1px;
                            }
                            .searchBtn {
                                position: absolute;
                                right: 8px;
                                top: 4px;
                                cursor: pointer;
                                width: 14px;
                                background: url(http://www.kl.com/src/images/icon1.png) no-repeat;
                                height: 14px;
                                background-position: -468px -666px;
                                display: block;
                            }
                        }
                    }
                    .gnum {
                        height: 22px;
                        display: inline-block;
                        font-size: 12px;
                        line-height: 24px;
                        color: #999;
                        i {
                            color: #e31436;
                        }
                    }
                }
            }
            .opertaion {
                margin-bottom: 10px;
                background-color: #fff;
                border: 1px solid #eaeaea;
                .classify {
                    border-bottom: 1px dotted #eaeaea;
                    position: relative;
                    background: #f8f8f8;
                }
                .brandWrap,
                .country,
                .sort,
                .property {
                    .name {
                        font-size: 12px;
                        line-height: 12px;
                        padding-top: 12px;
                        width: 85px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        float: left;
                        height: 100%;
                        padding-left: 15px;
                        color: #666;
                        background: #f8f8f8;
                    }
                    .hdbrands {
                        margin-left: 110px;
                        padding: 8px 10px 4px 0;
                        background-color: #fff;
                        .hdbrands2 {
                            height: 45px;
                            position: relative;
                            overflow: hidden;
                            .brand {
                                margin-left: 15px;
                                line-height: 14px;
                                overflow: auto;
                                font-size: 12px;
                                float: left;
                                a {
                                    position: relative;
                                    box-sizing: border-box;
                                    margin-right: 18px;
                                    margin-bottom: 4px;
                                    padding: 3px 5px;
                                    width: 120px;
                                    border: 1px solid transparent;
                                    font-size: 12px;
                                    line-height: 12px;
                                    text-decoration: none;
                                    color: #333;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    float: left;
                                    display: inline-block;
                                    cursor: pointer;
                                    &:hover {
                                        color: #e31436;
                                    }
                                }
                            }
                            .morewrap {
                                position: absolute;
                                top: 4px;
                                right: -11px;
                                .more {
                                    margin-left: 0;
                                    font-size: 12px;
                                    position: relative;
                                    float: right;
                                    width: 42px;
                                    margin: auto 15px;
                                    line-height: 13px;
                                    cursor: pointer;
                                    span {
                                        position: absolute;
                                        top: 3px;
                                        left: 30px;
                                        width: 9px;
                                        height: 6px;
                                        background-position: 0 0;
                                        background: url(http://www.kl.com/src/images/icon4.png) no-repeat;
                                    }
                                    &:hover {
                                        color: #e31436;
                                        span {
                                            background-position: -50px 0;
                                        }
                                    }
                                }
                                .item-multiple {
                                    float: right;
                                    margin: -4px 15px 0 0;
                                    display: inline-block;
                                    box-sizing: border-box;
                                    padding: 0 5px;
                                    height: 20px;
                                    line-height: 20px;
                                    color: #333;
                                    font-size: 12px;
                                    border: 1px solid #ddd;
                                    cursor: pointer;
                                    &:hover {
                                        color: #e31436;
                                        border: 1px solid #e31436;
                                    }
                                    .iconfont {
                                        font-size: 12px;
                                        color: #333;
                                        height: 20px;
                                        line-height: 20px;
                                        position: relative;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .country,
            .sort,
            .property {
                #countyrBrands {
                    height: 24px;
                    position: relative;
                    overflow: hidden;
                    .attr_items {
                        position: relative;
                        margin-left: 0;
                        a {
                            box-sizing: border-box;
                            margin-right: 18px;
                            text-decoration: none;
                            float: left;
                            position: relative;
                            border: 1px solid #ddd;
                            padding: 3px 5px;
                            line-height: 12px;
                            font-size: 12px;
                            margin: 0 0 4px 20px;
                            cursor: pointer;
                            color: #333;
                            .iconfont {
                                font-size: 12px;
                                width: 12px;
                                height: 12px;
                                line-height: 12px;
                                margin-left: 2px;
                                color: #cdcdcd;
                            }
                            .down {
                                display: inline-block;
                            }
                            .up {
                                display: none;
                            }
                        }
                    }
                }
                .drop_downList {
                    position: absolute;
                    left: 0;
                    top: 29px;
                    width: 100%;
                    border: 1px solid #aaa;
                    background: #fff;
                    z-index: 100;
                    font-size: 12px;
                    line-height: 12px;
                    display: none;
                    padding-bottom: 11px;
                    .list {
                        position: relative;
                        padding-right: 65px;
                        margin-bottom: 5px;
                        margin-left: -8px;
                        a {
                            float: left;
                            position: relative;
                            margin: 11px 0 0 17px;
                            cursor: pointer;
                            padding: 3px 22px 3px 5px;
                            border: 1px solid transparent;
                            color: #333;
                            &:hover {
                                color: #e31436;
                            }
                        }
                        .item-multiple {
                            position: absolute;
                            right: 9px;
                            top: 10px;
                            display: inline-block;
                            box-sizing: border-box;
                            padding: 0 5px;
                            height: 20px;
                            line-height: 20px;
                            color: #333;
                            font-size: 12px;
                            border: 1px solid #ddd;
                            cursor: pointer;
                            &:hover {
                                color: #e31436;
                                border: 1px solid #e31436;
                            }
                        }
                    }
                    .btn_group {
                        display: none;
                        box-sizing: border-box;
                        margin-top: 8px;
                        text-align: center;
                        span {
                            display: inline-block;
                            width: 48px;
                            height: 24px;
                            line-height: 24px;
                            text-align: center;
                            font-size: 12px;
                            cursor: pointer;
                        }
                        .sure {
                            background: #ccc;
                            color: #fff;
                        }
                        .cancel {
                            width: 46px;
                            height: 22px;
                            line-height: 22px;
                            border: 1px solid #aaa;
                            color: #333;
                            margin-left: 10px;
                            &:hover {
                                border: 1px solid #000;
                            }
                        }
                    }
                }
            }
            .filter {
                background: #fff;
                height: 36px;
            }
            .order {
                li {
                    float: left;
                    width: 65px;
                    height: 36px;
                    line-height: 36px;
                    margin: -1px;
                    margin-left: 0;
                    font-size: 13px;
                    color: #333;
                    border: 1px solid #eaeaea;
                    cursor: pointer;
                    text-align: center;
                }
                .active {
                    position: relative;
                    border: 1px solid #e31436;
                    color: #e31436;
                }
            }
            .searchPrice {
                width: 116px;
                height: 36px;
                font-size: 14px;
                position: relative;
                float: left;
                line-height: 36px;
                #clearBtn {
                    display: none;
                    position: absolute;
                    right: auto;
                    left: 15px;
                    top: 42px;
                    line-height: 16px;
                    font-size: 12px;
                    color: #51b8f1;
                    cursor: pointer;
                }
                .sure {
                    display: none;
                    position: absolute;
                    top: 40px;
                    right: 10px;
                    line-height: 16px;
                    margin-left: 5px;
                    padding: 2px 8px;
                    border-radius: 3px;
                    color: #fff;
                    background: #e31436;
                    border: 0;
                    cursor: pointer;
                }
                .priceInput {
                    position: absolute;
                    left: 3px;
                    top: -1px;
                    padding: 0 8px;
                    .inp {
                        width: 34px;
                        line-height: 18px;
                        padding-left: 4px;
                        border: 1px solid #ddd;
                        &:hover {
                            border: 1px solid #739ecc;
                            box-shadow: 0 0 6px 1px #739ecc;
                        }
                    }
                }
                &:hover {
                    height: 72px;
                    background: #fff;
                    box-shadow: 1px 1px 1px 1px #ddd;
                    #clearBtn,
                    .sure {
                        display: block;
                    }
                }
            }
            .addrBox {
                float: left;
                height: 36px;
                margin-left: 10px;
                .addr_tit {
                    font-size: 12px;
                    line-height: 36px;
                    float: left;
                }
                .addr_select {
                    float: left;
                    display: inline-block;
                    margin: 8px 0 0 6px;
                    position: relative;
                    #city {
                        border: 1px solid #ddd;
                        height: 20px;
                        width: 160px;
                        position: absolute;
                        top: -1px;
                    }
                    .triangle {
                        display: block;
                        border: 5px solid transparent;
                        border-top-color: #666;
                        position: absolute;
                        left: 137px;
                        top: 7px;
                    }
                }
            }
            .checkedBox {
                position: relative;
                float: left;
                line-height: 36px;
                margin-left: 8px;
                cursor: pointer;
                font-size: 13px;
                left: 170px;
                a {
                    color: #333;
                    .box {
                        display: inline-block;
                        height: 16px;
                        width: 16px;
                        vertical-align: middle;
                    }
                    span {
                        vertical-align: middle;
                    }
                }
            }
        }
        @import 'goods.scss';
    }
}

._citys {
    width: 450px;
    display: inline-block;
    border: 2px solid #eee;
    padding: 5px;
    position: relative;
    background: #fff;
}

._citys span {
    color: #56b4f8;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #56b4f8;
    cursor: pointer;
}

._citys0 {
    width: 100%;
    height: 34px;
    display: inline-block;
    border-bottom: 2px solid #56b4f8;
    padding: 0;
    margin: 0;
}

._citys0 li {
    display: inline-block;
    line-height: 34px;
    font-size: 15px;
    color: #888;
    width: 80px;
    text-align: center;
    cursor: pointer;
}

.citySel {
    background-color: #56b4f8;
    color: #fff !important;
}

._citys1 {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    // background: #fff;
}

._citys1 a {
    width: 83px;
    height: 35px;
    display: inline-block;
    background-color: #f5f5f5;
    color: #666;
    margin-left: 6px;
    margin-top: 3px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    overflow: hidden;
}

._citys1 a:hover {
    color: #fff;
    background-color: #56b4f8;
}

.AreaS {
    background-color: #56b4f8 !important;
    color: #fff !important;
}