main {
    #navBox {
        .nav_carts {
            cursor: pointer;
            .carMenuBox {
                display: none;
            }
            &:hover {
                .carMenuBox {
                    display: block;
                }
            }
        }
    }
    #content {
        .cont {
            width: 1100px;
            margin: auto;
            position: relative;
            .listBox {
                margin-bottom: 6px;
            }
        }
    }
}