main {
    background: #fff;
    #navBox {
        .nav_carts {
            cursor: pointer;
            .carMenuBox {
                display: none;
            }
            &:hover {
                .carMenuBox {
                    display: block;
                }
            }
        }
    }
    #content {
        z-index: 9;
        border-top: 1px solid #e8e8e8;
        #cont {
            width: 1090px;
            margin: auto;
            font-size: 14px;
            padding: 10px 0 0;
            #barBox {
                height: 69px;
                .crumbs {
                    height: 22px;
                    line-height: 22px;
                    margin-top: 0;
                    padding-top: 12px;
                    padding-bottom: 17px;
                    border-bottom: 1px solid #ddd;
                    font-size: 13px;
                    color: #999;
                    margin-bottom: 40px;
                    span {
                        vertical-align: middle;
                    }
                    .txt {
                        line-height: 24px;
                    }
                    .crumbBtn {
                        display: inline-block;
                        position: relative;
                        margin-right: 4px;
                        border: 1px solid #ccc;
                        .btnBox {
                            z-index: 1;
                            height: 18px;
                            line-height: 18px;
                            background: #fff;
                            position: relative;
                            cursor: pointer;
                            a {
                                display: inline-block;
                                padding: 0 5px;
                                margin-right: 15px;
                                color: #333;
                                height: 20px;
                                line-height: 20px;
                                max-width: 90px;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }
                            .icon {
                                position: absolute;
                                display: inline-block;
                                right: 6px;
                                top: 4px;
                                width: 6px;
                                height: 6px;
                                border: 2px solid #ccc;
                                border-width: 0 0 2px 2px;
                                transform-origin: 30% 70%;
                                transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in;
                                transform: rotate(-45deg);
                            }
                        }
                        &:hover {
                            a {
                                color: #e31436;
                            }
                            .icon {
                                transform: rotate(135deg);
                            }
                        }
                    }
                    .crumbs_title {
                        display: inline-block;
                        max-width: 300px;
                        color: #999;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        word-wrap: normal;
                        word-break: keep-all;
                    }
                }
            }
            .infoWrap {
                margin: 20px 0 0;
                position: relative;
                z-index: 1;
                .imgBox {
                    float: left;
                    width: 402px;
                    height: 488px;
                    position: relative;
                    z-index: 100;
                }
                .info {
                    position: relative;
                    float: left;
                    width: 658px;
                    margin-left: 30px;
                    font-size: 12px;
                    dt {
                        color: #333;
                        word-wrap: break-word;
                    }
                    .ptags {
                        position: absolute;
                        top: 0;
                        right: 0;
                        overflow: hidden;
                        margin-left: -6px;
                        .tag {
                            display: inline-block;
                            width: 54px;
                            height: 22px;
                            margin-left: 6px;
                            padding-right: 6px;
                            line-height: 22px;
                            text-align: right;
                            font-size: 13px;
                            font-weight: bold;
                            background: url(http://www.kl.com/src/images/icon5.png) no-repeat;
                            background-position: -94px 0;
                            color: #cf2c48;
                        }
                    }
                    .country {
                        span,
                        a {
                            font-size: 13px;
                            margin-left: 6px;
                            color: #999;
                            font-weight: 400;
                            vertical-align: middle;
                        }
                        img {
                            width: 24px;
                            height: 24px;
                            vertical-align: middle;
                        }
                        .split {
                            font-size: 12px;
                        }
                        .brand {
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                    .title {
                        margin-top: 10px;
                        margin-bottom: 5px;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 26px;
                    }
                    .desc {
                        margin-bottom: 11px;
                        color: #333;
                        line-height: 20px;
                        font-size: 13px;
                    }
                    .line_title {
                        padding-left: 15px;
                        box-sizing: border-box;
                        font-size: 12px;
                        width: 75px;
                        color: #666;
                        display: inline-block;
                        float: left;
                        line-height: 26px;
                        vertical-align: 4px;
                    }
                    .priceBox {
                        background: #f9f9f9;
                        z-index: 22;
                        margin-bottom: 12px;
                        border-bottom: 1px dotted #ddd;
                        padding-bottom: 4px;
                        .price {
                            overflow: hidden;
                            position: relative;
                            padding-top: 5px;
                            border-top: 1px dotted #ddd;
                            z-index: 99;
                            .pri_title {
                                padding-left: 15px;
                                box-sizing: border-box;
                                font-size: 12px;
                                float: left;
                                line-height: 26px;
                                margin: 10px 0;
                                vertical-align: 4px;
                            }
                            .price_cnt {
                                margin-left: 71px;
                                .cur_pritxt {
                                    font-size: 16px;
                                    position: relative;
                                    left: -7px;
                                }
                                .pri_info {
                                    font-size: 26px;
                                    color: #e31436;
                                    font-weight: bold;
                                    vertical-align: baseline;
                                    margin: 8px 0;
                                    display: inline-block;
                                    .cur {
                                        position: relative;
                                        left: -10px;
                                    }
                                }
                                .spe_pri {
                                    display: inline-block;
                                    margin-left: 5px;
                                    background-color: #f68587;
                                    height: 18px;
                                    line-height: 18px;
                                    padding: 0 5px;
                                    color: #fff;
                                    font-size: 12px;
                                    vertical-align: 5px;
                                    border-radius: 2px;
                                }
                                .market_pri {
                                    vertical-align: 4px;
                                    font-size: 12px;
                                    color: #999;
                                    margin-left: 14px;
                                    margin-bottom: 8px;
                                }
                            }
                        }
                    }
                    .postage {
                        margin-top: 7px;
                        position: relative;
                        .msg {
                            margin-left: 85px;
                            position: relative;
                            top: 10px;
                            .feeinfo {
                                display: inline;
                                line-height: 24px;
                                height: 24px;
                                vertical-align: middle;
                                position: absolute;
                                left: 205px;
                                top: -2px;
                                .freeShop {
                                    z-index: 3;
                                    padding: 1px 20px;
                                    display: inline-block;
                                    height: 28px;
                                    line-height: 28px;
                                    cursor: default;
                                    box-sizing: border-box;
                                    width: 105px;
                                    position: absolute;
                                    .arrow {
                                        border: 5px solid transparent;
                                        border-top-color: #333;
                                        position: absolute;
                                        top: 13px;
                                        right: 8px;
                                    }
                                }
                                .desc {
                                    display: none;
                                    position: absolute;
                                    left: 0;
                                    top: 27px;
                                    width: 335px;
                                    padding: 10px 15px;
                                    line-height: 22px;
                                    border: 1px solid #d5d5d5;
                                    background-color: #fff;
                                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
                                }
                                &:hover {
                                    .desc {
                                        display: block;
                                    }
                                    .freeShop {
                                        border: 1px solid #ddd;
                                        border-bottom: 0;
                                        background: #fff;
                                    }
                                }
                            }
                            .from {
                                line-height: 24px;
                                display: inline-block;
                                vertical-align: middle;
                                padding-right: 10px;
                            }
                            .address {
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 20px;
                                #city {
                                    border: 1px solid #ddd;
                                    height: 20px;
                                    width: 160px;
                                    position: absolute;
                                    top: -1px;
                                }
                                label {
                                    display: block;
                                    border: 5px solid transparent;
                                    border-top-color: #666;
                                    position: absolute;
                                    left: 170px;
                                    top: 8px;
                                }
                            }
                        }
                    }
                    .service {
                        margin-top: 15px;
                        .send {
                            position: relative;
                            top: 5px;
                        }
                        .sendBox {
                            padding-left: 77px;
                            padding-top: 12px;
                            .postage_list {
                                margin: 10px 0 0 -27px;
                                .item {
                                    position: relative;
                                    display: inline-block;
                                    text-align: center;
                                    width: 100px;
                                    img {
                                        display: block;
                                        width: 28px;
                                        height: 28px;
                                        border-radius: 14px;
                                        margin: 0 auto;
                                    }
                                    p {
                                        display: inline-block;
                                        white-space: nowrap;
                                        padding-top: 7px;
                                        span {
                                            max-width: 100px;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                        }
                                    }
                                    .line {
                                        position: absolute;
                                        display: block;
                                        background: #dcdcdc;
                                        right: -30px;
                                        top: 13px;
                                        width: 60px;
                                        height: 1px;
                                    }
                                    .active {
                                        background: #7f7f7f;
                                    }
                                }
                            }
                        }
                        .tomorrow_arrival {
                            margin-top: 8px;
                            .bold {
                                font-weight: bold;
                            }
                        }
                    }
                    #colorBox {
                        margin-top: 9px;
                        .color_wrap {
                            position: relative;
                            width: 581px;
                            left: -15px;
                            border: 2px solid #fff;
                            padding-bottom: 13px;
                            margin-bottom: 6px;
                            .color_box {
                                margin: 1px 0 2px 14px;
                                .line_title {
                                    height: 54px;
                                    line-height: 54px;
                                }
                                .valBox {
                                    vertical-align: middle;
                                    float: left;
                                    width: 480px;
                                    .img_box {
                                        height: 58px;
                                        float: left;
                                        display: inline;
                                        background-color: #fff;
                                        margin-right: 7px;
                                        position: relative;
                                        white-space: nowrap;
                                        a {
                                            height: 50px;
                                            width: 50px;
                                            border: 2px solid #ccc;
                                            display: block;
                                            margin: 1px 1px 1px 1px;
                                            line-height: 18px;
                                            text-align: center;
                                            cursor: pointer;
                                            img {
                                                width: 50px;
                                                height: 50px;
                                                vertical-align: top;
                                                cursor: pointer;
                                            }
                                            &:hover {
                                                border-color: #d41c44;
                                                color: #d41c44;
                                                border-width: 2px;
                                            }
                                        }
                                        i {
                                            display: none;
                                            .checked {
                                                position: absolute;
                                                font-size: 10px;
                                                color: #fff;
                                                line-height: 0px;
                                                height: 5px;
                                                width: 7px;
                                                right: -6px;
                                                bottom: -6px;
                                                background: url(http://www.kl.com/src/images/goods/images/icon6.png) no-repeat;
                                                background-position: left -20px;
                                                overflow: hidden;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .tip {
                            // visibility: visible;
                            // margin: 0 0 10px 10px;
                            // height: 24px;
                            visibility: hidden;
                            height: 0px;
                            overflow: hidden;
                            -webkit-transition: all 0.2s ease-in-out 0.3s;
                            .tip_box {
                                color: #d31b44;
                                vertical-align: middle;
                                i {
                                    color: #d12147;
                                    font-size: 17px;
                                    margin-right: 5px;
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
                .buy_numBox {
                    margin-top: 6px;
                    .buy_box {
                        position: relative;
                        .ctrNum {
                            display: inline-block;
                            border: 1px solid #ccc;
                            text-align: center;
                            vertical-align: middle;
                            .icon_minus,
                            .icon_plus {
                                color: #777 !important;
                                background-color: #f3f3f3;
                                cursor: default;
                                border-right: 1px solid #ccc;
                                display: inline-block;
                                width: 22px;
                                height: 22px;
                                line-height: 22px;
                                text-decoration: none;
                                vertical-align: top;
                                user-select: none;
                                font-size: 20px;
                            }
                            .ctrnum {
                                width: 38px;
                                padding: 4px 5px;
                                margin: 0;
                                line-height: 1;
                                height: 14px;
                                font-size: 14px;
                                vertical-align: top;
                                text-align: center;
                                color: #333;
                                border: none;
                                outline: none;
                                box-sizing: content-box;
                            }
                        }
                        .dome_tip {
                            font-weight: 300;
                            margin-left: 5px;
                            vertical-align: middle;
                            color: #e31436;
                        }
                    }
                }
                .guarantee {
                    position: relative;
                    color: #333;
                    font-size: 0;
                    padding: 20px 0 15px;
                    z-index: 9;
                    .line_title {
                        float: left;
                        height: 24px;
                        line-height: 24px;
                    }
                    .guarantee_cnt {
                        float: left;
                        font-size: 12px;
                        .guali {
                            float: left;
                            position: relative;
                            height: 24px;
                            line-height: 24px;
                            margin-right: 10px;
                            color: #333;
                            .tit {
                                position: relative;
                                padding: 0 27px 0 10px;
                                height: 22px;
                                line-height: 22px;
                                max-width: 230px;
                                overflow: hidden;
                                word-wrap: normal;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                border: 1px solid #ccc;
                                cursor: pointer;
                                z-index: 2;
                                font-size: 12px;
                                .up,
                                .down {
                                    position: absolute;
                                    width: 12px;
                                    height: 22px;
                                    right: 8px;
                                    top: 0;
                                    font-size: 10px;
                                    line-height: 20px;
                                    color: #999;
                                }
                                .up {
                                    display: none;
                                }
                                .down {
                                    display: block;
                                }
                            }
                        }
                    }
                    .ctt {
                        display: none;
                        position: absolute;
                        top: 41px;
                        left: 75px;
                        background: #fff;
                        width: 300px;
                        padding: 11px 10px;
                        overflow: hidden;
                        border: 1px solid #ccc;
                        z-index: 1;
                        .moreList {
                            .moreLi {
                                line-height: 25px;
                                font-size: 0;
                                cursor: pointer;
                            }
                            .checked {
                                position: relative;
                                top: -4px;
                                display: inline-block;
                                vertical-align: middle;
                                width: 15px;
                                height: 15px;
                                margin-right: 7px;
                                input {
                                    width: 15px;
                                    height: 17px;
                                }
                            }
                            .msg {
                                display: inline-block;
                                vertical-align: middle;
                                max-width: 210px;
                                line-height: 18px;
                                padding: 3px 0;
                                font-size: 12px;
                            }
                            .link {
                                display: inline-block;
                                vertical-align: middle;
                                font-size: 12px;
                                margin-left: 30px;
                                color: #333;
                            }
                        }
                    }
                }
                .explain {
                    padding: 6px 0 0 0;
                    margin-bottom: -8px;
                    color: #666;
                    .buyNow_tips {
                        margin-left: 0;
                        line-height: 28px;
                        margin-top: 5px;
                        li {
                            position: relative;
                            padding-left: 19px;
                            line-height: 18px;
                            display: inline-block;
                            margin-right: 10px;
                            i {
                                width: 12px;
                                height: 12px;
                                position: absolute;
                                top: 3px;
                                background: url('https://mm.bst.126.net/goods/dist/pc/images/support.ede6c07.png') no-repeat;
                                left: 2px;
                            }
                            .unsupport {
                                background: url('https://mm.bst.126.net/goods/dist/pc/images/unsupport-icon.094c85f.png') no-repeat;
                            }
                        }
                    }
                }
                .buyBtns {
                    display: block;
                    margin-top: 20px;
                    position: relative;
                    a {
                        display: inline-block;
                        margin-right: 20px;
                        text-align: center;
                        font-size: 18px;
                        font-weight: bold;
                        text-decoration: none;
                        vertical-align: middle;
                    }
                    #buyBtn {
                        position: relative;
                        width: 156px;
                        height: 46px;
                        border: 2px solid #d41c44;
                        background-color: #ffeced;
                        color: #d31b44;
                        line-height: 46px;
                        cursor: pointer;
                        &:hover {
                            background: #fff;
                        }
                    }
                    #addCart {
                        width: 180px;
                        height: 50px;
                        line-height: 50px;
                        color: #fff;
                        background-color: #e31436;
                        cursor: pointer;
                        .iconfont {
                            margin-right: 5px;
                            display: inline-block;
                        }
                        &:hover {
                            background-color: #fa2145;
                        }
                    }
                    .favBtn {
                        height: 28px;
                        line-height: 28px;
                        padding: 0 10px;
                        font-size: 0;
                        text-align: center;
                        border: 1px solid #fff;
                        position: relative;
                        top: 10px;
                        cursor: pointer;
                        &:hover {
                            .txt {
                                text-decoration: underline;
                            }
                        }
                        .txt {
                            font-size: 14px;
                            color: #6f6f6f;
                            font-weight: normal;
                        }
                        .iconfont {
                            font-size: 14px;
                            margin-right: 5px;
                            color: #e31436;
                        }
                    }
                }
                .comment_bar {
                    font-size: 13px;
                    margin-top: 6px;
                    .percentStar {
                        font-size: 11px;
                        position: relative;
                        display: inline-block;
                        letter-spacing: 2px;
                        white-space: nowrap;
                        text-align: left;
                        color: #d61640;
                        span {
                            vertical-align: middle;
                            i {
                                font-size: 11px;
                            }
                        }
                    }
                    .goodPercent {
                        position: relative;
                        margin-left: 5px;
                        font-weight: bold;
                        color: #d22046;
                    }
                    .comNum {
                        margin-left: 14px;
                    }
                    .commImg {
                        margin-left: 10px;
                    }
                    .comm {
                        a {
                            color: #333;
                            font-weight: bold;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .excelComm {
                    position: relative;
                    padding: 2px 90px 10px 0;
                    margin-top: 11px;
                    border-top: 1px dotted #ccc;
                    color: #666;
                    font-size: 13px;
                    .comm_tit {
                        line-height: 30px;
                    }
                    .detail {
                        display: block;
                        line-height: 20px;
                        max-height: 40px;
                        min-height: 40px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-all;
                        transition: max-height 1s ease-in-out;
                    }
                    &:hover {
                        .detail {
                            max-height: 300px;
                        }
                    }
                }
            }
        }
    }
    #comboRecbox {
        margin: 15px 0;
        .combotab {
            li {
                display: inline-block;
                width: 110px;
                height: 52px;
                line-height: 52px;
                margin-right: 10px;
                font-weight: bold;
                text-align: center;
                font-size: 16px;
                border-bottom: 2px solid #fff;
                a {
                    display: block;
                    color: #000;
                }
            }
        }
        .newRecom {
            height: auto;
            margin: 0;
            overflow: hidden;
            .resclst {
                padding: 17px 20px 12px 30px;
                margin-left: 0px;
                border: 1px solid #eaeaea;
                li {
                    margin: 0 35px 0 0;
                    height: 195px;
                    width: 138px;
                    border: none;
                    float: left;
                    text-align: center;
                    .itemImg {
                        display: block;
                        img {
                            width: 110px;
                            height: 110px;
                        }
                    }
                    .itemTitle {
                        margin-bottom: 9px;
                        padding: 0px;
                        height: 40px;
                        overflow: hidden;
                        a {
                            line-height: 20px;
                            font-size: 12px;
                            color: #333;
                            font-weight: normal;
                            word-break: break-all;
                        }
                    }
                    .itemInfo {
                        .price {
                            line-height: 14px;
                            color: #e31436;
                            font-size: 16px;
                            font-weight: bold;
                            .marprice {
                                padding-left: 5px;
                                color: #999;
                                font-size: 12px;
                                font-weight: normal;
                                line-height: 14px;
                            }
                        }
                        .comment {
                            display: block;
                            height: 24px;
                            line-height: 20px;
                            color: #999;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

._citys {
    width: 450px;
    display: inline-block;
    border: 2px solid #eee;
    padding: 5px;
    position: relative;
    background: #fff;
}

._citys span {
    color: #56b4f8;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #56b4f8;
    cursor: pointer;
}

._citys0 {
    width: 100%;
    height: 34px;
    display: inline-block;
    border-bottom: 2px solid #56b4f8;
    padding: 0;
    margin: 0;
}

._citys0 li {
    display: inline-block;
    line-height: 34px;
    font-size: 15px;
    color: #888;
    width: 80px;
    text-align: center;
    cursor: pointer;
}

.citySel {
    background-color: #56b4f8;
    color: #fff !important;
}

._citys1 {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    // background: #fff;
}

._citys1 a {
    width: 83px;
    height: 35px;
    display: inline-block;
    background-color: #f5f5f5;
    color: #666;
    margin-left: 6px;
    margin-top: 3px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    overflow: hidden;
}

._citys1 a:hover {
    color: #fff;
    background-color: #56b4f8;
}

.AreaS {
    background-color: #56b4f8 !important;
    color: #fff !important;
}